/* CSS Document */
body {
	background-image:url(../images/gray_jean.png);
	font-family: '微软雅黑','HelveticaNeue',Arial,Helvetica,sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	padding:0;
	margin:0;
	color: #666666;
}
.head h1 {
	font-size:18px;
}
.head h3 {
	color: #99999E;
	font-size:14px;
}

.loginWrap {
	margin-left:auto;
	margin-right:auto;
	width:400px;
}
.loginBox {
	position:relative;
	top: -600px;
	margin-top:150px;
	border-radius:2px;
}
.head {
	position:relative;
	z-index:101;
	border-radius: 3px 3px 0 0;
	padding: 15px 15px 15px 80px;
	height: 42px;
	background: linear-gradient(to bottom, #EDEDED 0%, #DEDEDE 100%) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EDEDED', endColorstr='#DEDEDE');
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-bottom-color: #BBBBBB;
	border-left-color: #BBBBBB;
}
.icon {
	position: absolute;
	top: 5px;
	left: 10px;
	width:64px;
	height:64px;
	background-image:url(../images/users.png);
}
.content {
	position: relative;
	padding:20px;
	background-color: #444444;
	overflow:hidden;
}
.content p {
	position: relative;
	display:block;
	width: 365px;
	margin: 0 0 25px 0;
	padding: 0;
	box-shadow: 0 0 3px #333;
}
.content label {
	display: block;
	float: left;
	border-radius: 3px 0 0 3px;
	padding: 10px;
	height: 24px;
	font-weight:700;
	/* [disabled]width:48px; */
	width: 15%;
	color: #C0FFFF;
	border: 0 none;
	background: linear-gradient(to bottom, #3B6998 0%, #0B4073 100%) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3B6998', endColorstr='#0B4073');
}
.content input {
	padding: 10px;
	height: 24px;
	font-size: 16px;
	color: #666666;
	border-radius: 0 3px 3px 0;
	/* [disabled]width:272px; */
	width: 74%;
	background-color: #EEEEEE;
	border: 0 none;
}
.content .verify-code input {
	width:150px;
	border-radius: 0;
}
.content .verify-code img {
	position: absolute;
	right: 0;
	top: 0;
	width:121px;
	height: 44px;
	border-radius: 0 3px 3px 0;
}
.submitBtn {
	cursor:pointer;
	padding: 12px;
	height: 20px;
	border-radius: 2px;
	box-shadow: 0 3px 3px #333;
	color: #C0FFFF;
	text-align: center;
	font-size: 18px;
	font-weight: 900;
	background: linear-gradient(to bottom, #3B6998 0%, #0B4073 100%) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3B6998', endColorstr='#0B4073');
}
.submitBtn:hover {
	background: linear-gradient(to bottom, #4B84B6 0%, #06619B 100%) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4B84B6', endColorstr='#06619B');
}
.submitBtn:active {
	box-shadow: 0 0 3px #333 inset;
	background: linear-gradient(to bottom, #30F 0%, #06C 100%) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3301FF', endColorstr='#0360CF');
}
.otherInfo {
	font-size:12px;
	margin-top:20px;
	color: #888;
	display: none;
}
.shadow {
	position: relative;
	z-index: -1;
	top: 80px;
	margin-top:10px;
	height:30px;
	background-image:url(../images/loginshadow.png);
	background-repeat:no-repeat;
}
.tip {
	position: absolute;
	top: 0;
	left:372px;
	z-index: 100px;
	background-color: #000;
	padding: 10px;
	border: 1px solid #000;
	border-radius:3px;
	opacity: 0.6;
	color: #FFFFFF;
	word-break: keep-all;
}
.tip .arr {
	position:absolute;
	width: 6px;
	height: 12px;
	top: 15px;
	left: -6px;
	background-image:url(../images/arr3.png);
}