/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header {
	background-color: #FAFAFA;
}
.container {
	background-color: transparent;
}
.footer {
	background-color: #FAFAFA;
}
/** 如果需要头部和底部宽度100%
.header .base, .footer .base {
	width: 100%;
}**/
div.base {
	/*为了使内部的float元素也可以撑开此div*/
	display: table;
	width: 1000px;
	min-width: 220px;
	margin: 0 auto;
	position: relative;
	
	border: 1px dashed #CCC;
}
div.inner {
	padding: 10px;
}
.container .content {
	width: 75%;
	height: 1800px;
	
	background-color:#FF6;
	/**用百分比不能加border，会有些许错位
	border: 1px dashed #9F0;**/
}
.container .info {
	position: relative;
	float: right;
	width: 25%;
		
	/**用百分比不能加border，会有些许错位
	border: 1px dashed #9F0;**/
}
.container .info .inner {
	display: block;
	padding: 0;
}
.box {
	border:1px dashed #90F
}
.tit {
	text-align: center;
	border-bottom: 1px dashed #09F;
}
.text {
	height: 120px;
	box-shadow: 0 -2 2px rgba(0,0,0,0.2);
}