@charset "utf-8";
/* CSS Document */

table {
	/*修正单元格之间的边框不能合并*/
	border-collapse: collapse;
	border: 1px solid #ECE9D8;
	width: 100%;
}
table th {
	height: 30px;
}

table tr {
	text-align: center;
}
/*
table th {
	border: 1px solid black;
}
table td {
	border: 1px solid black;
}
*/
